body{
    margin: 0;
    font-family: roboto;

        
    .container{
        height: 100%;
        margin: auto;
        animation-name: PagefadeIn;
        animation-duration: .9s;

        .wrapper{
            position: relative;
            color: white;
        }

        .wrapper::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            // opacity: .75;
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../images/colin-watts-eTC2fQMgSC0-unsplash.jpg);
            height: 100vh;
            // width: 100%;
            // padding: 35%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;

        }
     
    }
}
