body .container .wrapper header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    position: relative;

    @media (min-width: 1000px){
        padding: 20px 11vh;
    }

    @media (max-width: 500px){
        padding: 15px 5px;
    }

    .vangroll{
        font-size: 5.5vw;
        font-weight: 700;

        @media (max-width: 500px){
            font-size: 8.5vw;
        }

        @media (min-width: 1000px){
            font-size: 44px;
        }
    }
    
    .custom{
        font-size: 2.5vw;
        margin-top: -9.2px;
        margin-left: .2vw;
        text-align: right;

        @media (max-width: 500px){
            font-size: 3.5vw;
        }

        @media (min-width: 1000px){
            font-size: 20px;
        }
    }

    .contact{
        font-size: 2.5vw;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 500px){
            font-size: 3.5vw;
            font-weight: 700;
        }

        @media (min-width: 1000px){
            font-size: 20px;
        }

        .contact-info{
            margin-left: 3vw;
            text-decoration: none;
            color: white;
        }
    }
}